<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />

	<div class="container">
		<h2 th:text="${'Publicaciones de ' + nameAuthor}">Publicaciones</h2>

		<div class="table-responsive">
			<table class="table table-hover" th:fragment="tablePosts"
				id="tablePosts">
				<thead>
					<tr>
						<th>Título</th>
						<th>Fecha</th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="post : ${postsList}">
						<td th:text="${post.title}">Título post</td>
						<td th:text="${post.date}">Fecha post</td>
						
					</tr>
				</tbody>
			</table>
		</div>
		<footer th:replace="fragments/pagination" />
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>
