<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	<div class="container" style="text-align: center">
		<h2 th:text="#{welcome.message}"></h2>
		<h3 th:text="#{privateZone.message}">Esta es una zona privada de la web</h3>
		<p th:text="#{authenticationUser.message}">
			Usuario Autenticado como : 
			<b sec:authentication="principal.username"
				th:inline="text"></b>
			<!--  <b th:inline="text">
				[[${#httpServletRequest.remoteUser}]] </b>
				-->
		</p>
		<p th:text="#{userPosts.message}">Publicaciones del usuario</p>
		
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>